.wikispeech-title {
	font-size: 1.1em;
}

.ext-wikispeech-play:after {
	content: "Play";
}

.ext-wikispeech-stop:after {
	content: "Stop";
}

.ext-wikispeech-skip-ahead-sentence:after {
	content: "Skip ahead sentence";
}
