.wikispeech-title {
	font-size: 1.1em;
}

.ext-wikispeech-play:after {
	content: "Play";
}

.ext-wikispeech-stop:after {
	content: "Stop";
}

.ext-wikispeech-skip-ahead-sentence:after {
	content: "Skip ahead sentence";
}

.ext-wikispeech-skip-back-sentence:after {
	content: "Skip back sentence";
}

.ext-wikispeech-skip-ahead-word:after {
	content: "Skip ahead word";
}
